{# app/Resources/views/Emails/changement_statut.html.twig #}

{# Cette page sert pour le formulaire 
des annulations de réservations effectuées côté utilisateur #}

{# On étend notre layout #} 
{% extends "::Emails/base.html.twig" %} 

{% block contentLeft %}
    <td class="wrapper">

        <table class="seven columns">
            <tr>
                <td>
                    <h3>Annulation de <br> {{ reservation.nom }} {{ reservation.prenom }}</h3>
                    <p>L'adresse : {{ reservation.email }}<p> 
        
                    <p>a annulé sa réservation le {{ reservation.dateDerMaj|date("d/m/Y H:i") }}.</p>
                    
                </td>
                <td class="expander"></td>
            </tr>
        </table>

        <table class="seven columns">
            <tr>
                <td>
                    <br>
                    <p>Le créneau est à nouveau disponible
                        
                    <table class="button">
                        <tr>
                            <td>
                                <a href="http://5.39.77.232/carPool/front-office/dist/#/reservation/administration">Se connecter</a>
                            </td>
                        </tr>
                    </table>

                </td>
                <td class="expander"></td>
            </tr>
        </table>

    </td>
{% endblock %}


{% block footer %}{% endblock %}
