{# app/Resources/views/Emails/changement_statut.html.twig #}

{# On étend notre layout #} 
{% extends "::base.html.twig" %} 

{% block contentLeft %}
    <td class="wrapper">

        <table class="seven columns">
            <tr>
                <td>
                    <h3>Bonjour {{ reservation.nom }} {{ reservation.prenom }}</h3>
                    <p>Votre réservation est maintenant au statut <b>{{ reservation.statut }}</b> <p> 
        
                    <p>Réservation modifiée le {{ reservation.dateDerMaj|date("d/m/Y H:i") }} par nos administrateurs.</p>
                </td>
                <td class="expander"></td>
            </tr>
        </table>

    </td>
{% endblock %}


{% block footer %}{% endblock %}
